/node_modules
/vendor
/.phpunit.cache
.env
.env.backup
.env.production
storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/app/private/.gitkeep
!storage/app/public/.gitkeep
!storage/framework/cache/data/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
/bootstrap/cache/*.php
composer.phar
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.claude/